node_modules/
api/node_modules
web/node_modules
dist/
.angular/
.DS_Store
apps/api/coverage/

# Generated env files
./api
infra/.env

# Local config
config.json

# Local environ
.env
apps/web/.vscode
apps/api/prisma/.env
apps/api/prisma/migrations
.claude

# Local planning documents
